body {
    background-color: #24273a;
    color: #cad3f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    font-weight: 900;
    text-align: center;

    background: linear-gradient(90deg, #ed8796, #a6da95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

h2 {
    font-size: 2em;
    margin: 0 0 .5em 0;
}

.content {
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}

.day {
    background-color: #1e2030;
    border: 1px solid #363a4f;

    padding: 1em;
    border-radius: 12px;
}

.code {
    display: flex;
    gap: 1em;

    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

pre {
    background-color: #181926;
    padding: 1em;
    border-radius: 8px;
    
    overflow-x: auto;

    border: 1px solid #363a4f;

    width: 500px;

    max-width: 80vw;
}